doctype html
html(lang="en")
  head 
    title #{pageTitle} | YStube
    link(rel="stylesheet" href="https://unpkg.com/mvp.css")
  body 
    header
      h1=pageTitle
      nav   
        ul
          li  
            a(href="/videos/upload") Let's upload videos
    main
      block content
  include partials/footer