extends base.pug



 

block content 
  a(href=`${video.id}/edit`) #{video.views} #{video.views===1 ? "view" : "views"}

  //- absolute URL : "/edit" : localhost:4000/edit
  //- relative URL : "edit" : 현재 있는 URL에서 맨끝만 변화. localhost:4000/videos/edit