extends base.pug

block content 
  form(method="POST")
    input(name="title", type="text", placeholder="Put the title")
    input(name="description", type="text", placeholder="Put the description")
    input(name="hashtags", type="text", placeholder="Hashtags by comma")
    input(type="submit", value="UPLOAD VIDEO") 