extends base.pug

block content 
  div 
    video#preview
    button#recorderBtn Start Recording!!
  if errorMessage 
    span=errorMessage
  form(method="POST", enctype="multipart/form-data")
    label(for="video") VIDEO FILE
    input(id="video", name="video", type="file", accept="video/*", required)
    input(name="title", type="text", placeholder="Put the title", maxlength=80)
    input(name="description", type="text", placeholder="Put the description", minlength=10)
    input(name="hashtags", type="text", placeholder="Hashtags by comma")
    input(type="submit", value="UPLOAD VIDEO") 

block scripts 
  script(src="/static/js/recorder.js")