header
  a(href="/").header-logo
    i.fab.fa-youtube
  nav  
    ul  
      li  
        a(href="/search")
          i.fas.fa-search
      if loggedIn
        li  
          a(href="/videos/upload") UPLOAD
        li  
          a(href="/users/logout") LOGOUT
        li  
          a(href="/users/edit") EDIT PROFILE
        li
          a(href=`/users/${loggedInUser._id}`)
            if loggedInUser.avatarUrl === ""
              span 😀
            else
              if loggedInUser.avatarUrl.includes("github")
                img.header__avatar(src=loggedInUser.avatarUrl)
              else
                img.header__avatar(src=`/${loggedInUser.avatarUrl}`)
      else  
        li  
          a(href="/join").header__btn JOIN
        li  
          a(href="/login") LOGIN