extends ../base.pug 

block content 
  form(method="POST")
    input(name="oldPassword", placeholder="old password")
    input(name="newPassword", placeholder="new password")
    input(name="newPassword2", placeholder="new password confirmation")
    input(type="submit", value="CHANGE PASSWORD")