extends ../base.pug 

block content 
  if errorMessage 
    span=errorMessage
  form(method="POST")
    input(name="oldPassword", placeholder="old password", type="password")
    input(name="newPassword", placeholder="new password", type="password")
    input(name="newPassword2", placeholder="new password confirmation", type="password")
    input(type="submit", value="CHANGE PASSWORD")